/* Основні скидання та шрифти */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #1e1e2e;
    color: #cdd6f4;
    padding: 15px;
    max-width: 600px;
    margin: 0 auto;
}

header h2 {
    color: #cba6f7;
    margin-bottom: 15px;
    text-align: center;
}

/* Форма створення допису */
.create-post {
    background: #181825;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #313244;
    margin-bottom: 20px;
}

input[type="text"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #313244;
    border: 1px solid #45475a;
    color: #cdd6f4;
    border-radius: 6px;
    outline: none;
}

input[type="text"]:focus, select:focus {
    border-color: #cba6f7;
}

/* Контейнер редактора CodeFlask */
.codeflask {
    background: #181825 !important;
    border-radius: 8px;
    position: relative;
    cursor: text;
}

.codeflask .codeflask__textarea {
    color: transparent !important;
    caret-color: #ffffff !important;
    z-index: 3 !important;
    pointer-events: auto !important;
    font-family: monospace !important;
    font-weight: 700 !important;
    font-size: 14px !important;
}

.codeflask code, 
.codeflask .codeflask__code {
    font-family: monospace !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    z-index: 2 !important;
}

/* Підсвітка синтаксису (Prism / CodeFlask) */
.codeflask .token.string {
    color: #f9e2af !important; /* Помаранчево-жовтий для лапок */
}

.codeflask .token.keyword {
    color: #cba6f7 !important; /* Фіолетовий для if, else, return */
}

.codeflask .token.function {
    color: #89b4fa !important; /* Синій для функцій print, io.read */
}

.codeflask .token.operator {
    color: #89dceb !important; /* Блакитний для операторів ==, = */
}

.codeflask .token.number {
    color: #fab387 !important; /* Помаранчевий для чисел */
}

/* Панель кнопок (Тулбар) */
.toolbar {
    display: flex;
    gap: 6px;
    margin-bottom: 10px;
    overflow-x: auto;
}

.toolbar button {
    flex: 1;
    padding: 8px;
    background: #313244;
    border: 1px solid #45475a;
    color: #cdd6f4;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.toolbar button:active {
    background: #45475a;
}

/* Кнопка "Опублікувати" */
#send-btn {
    width: 100%;
    padding: 12px;
    background: #a6e3a1;
    border: none;
    color: #11111b;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

#send-btn:disabled {
    background: #585b70;
    cursor: not-allowed;
}

/* Стрічка дописів */
#feed h3 {
    margin-bottom: 10px;
    color: #bac2de;
}

.post-card pre {
    white-space: pre-wrap;
    word-break: break-all;
}
